.completed {
  text-decoration: line-through;

}

.item-wrapper {
  min-height: 50px;
  line-height: 50px;
  list-style: none;
  margin:  10px 0;
  border-radius: 2px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  padding: 10px;
  font-size: 20px;
  text-align: left;
  flex-grow: 5;
  
  input {
    margin-right: 7px;
  }

}
