@import 'breakpoints';

.completed {
  text-decoration: line-through;

}

.item-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 35px;
  line-height: 35px;
  min-width: 400px;
  list-style: none;
  margin:  10px 0;
  border-radius: 2px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: left;
  input {
    margin-right: 7px;
  }

}

.text-wrapper {
  inline-size: 400px;
  overflow-wrap: break-word;
  padding-right: 15px;
}

.buttons-container {
  float: right;
  @include sm {
    
  }

}

.button {
  width: 65px;
  padding: 8px;
  background-color:#2b473d;
  color: #ecf6e8;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  &:hover,
    &:focus {
      transform: scale3d(1.05, 1.05, 1);
      &::after {
        opacity: 1;
      }
    }
}

.checkbox-input {
  height: 30px;
}

.due-date {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #2b473d;
  margin-left: 10px;
}