@import 'breakpoints';

.header-container {
  height: 40px;
  top: 0;
  display: flex;
  flex-direction: row;
  float: right;
  margin: 20px;

}

.greeting-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 40px;
  margin-right: 10px;
}
.signout-button {
  border: none;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  cursor: pointer;
}
